body {
    font-family: Arial, sans-serif;
    background-color: #1d1818;
  }
  
  .vending-machine {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
  }
  
  .options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .option {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #45a049;
  }
  
  .insert-money {
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0e7743;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0c4629;
  }
  
  button[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
